.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

/* .h1 {
  color: "red" !important
} */

.figure-caption {
  font-size: 25px;
}

.my-carousel-wide {
  width: 600px;
}

.carousel-caption {
  color: "red";
}

/* .carousel .item.left img{
  width: 100% !important;
} */