.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

/* .h1 {
  color: "red" !important
} */

.figure-caption {
  font-size: 25px;
}

.my-carousel-wide {
  width: 600px;
}

/* 
.carousel-item carousel-caption {
  color: "green" !important;
} */

/* 
.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: 0 auto;
} */

.carousel-caption {
  color: black;
  /* Colore predefinito per tutte le didascalie */
}

.carousel-caption>* {
  font-family: monospace;
  font-size: x-large;
}

.carousel-caption>h5 {
  font-size: xx-large;
  /* font-family: fantasy; */
  font-weight: bold;
}

.carousel-item img {
  max-width: 600px;
  /* max-height: 200px; */
  /* Cambia l'altezza massima secondo necessità */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-caption {
  position: static;
  padding: 1rem;
  /* background: rgba(0, 0, 0, 0.5); */
}

.carousel-indicators li {
  background-color: green;
  /* color: green; */
  /* Colore per gli indicatori inattivi */
}

.carousel-indicators .active {
  /* background-color: #ff4c68; */
  background-color: black;
  /* Colore per l'indicatore attivo */
}

.carousel-control-prev-icon {
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 8 8"><path d="M4.707 0l-4 4 4 4h-1.414l-4-4 4-4h1.414z" /></svg>'); */
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");

}


.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

/* .carousel .item.left img{
  width: 100% !important;
} */